.post-bg {
  margin: 50px;
  width: 300px;
}

label {
  font-family: roboto;
}

input {
  padding: 5px;
  outline: none;
  width: 200px;
}

.input-div {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
}
